################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Criminal-Investigation-System/v17/Browse.VC.opendb
